APP_NAME=Marketplace
ENVIRONMENT=development
DEBUG=true
DATABASE_URL=postgresql+asyncpg://postgres:Surya%402005@localhost:5432/ecommerce_db
JWT_SECRET_KEY=change-me-to-a-64-char-random-string-in-production
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_SECONDS=420
GOOGLE_CLIENT_ID=384506792649-5le1qcjvtr7n4aesr0nfded82miduhgg.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REDIRECT_URI=http://12.0.0.1:8000/api/v1/auth/google/callback
FRONTEND_URL=http://localhost:3000
NEXT_PUBLIC_USE_MOCK_AUTH=false
NEXT_PUBLIC_API_URL=http://192.168.0.5:8000